<!-- 
  Thanks for stopping by! Take a look around and feel free to send me an e-mail with any questions.
  
  - Clayton Smith
  claycodedev@gmail.com
  
  -->
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf8" />
    <title>Clay's Portfolio</title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <!-- ANGULAR / BOOTSTRAP SCRIPTS -->
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="./front.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Clay's Portfolio</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Current Projects</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Options <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">GET</a></li>
                <li><a href="#">PUT</a></li>
                <li><a href="#">UPDATE</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="bg-danger">DELETE</a></li>
              </ul>
            </li>
          </ul>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- LEFT section is for about me / contact info / skills -->
    <section class="container">
      <div id="infoBox" class="row">
        <section class="leftBox col-sm-6 container-fluid">
          <div>
            <h1>Clay Smith<br>
              <small>Full Stack Web Developer</small>
            </h1>
            <img src="./img/stmary.jpg" alt='Just a picture of me' class="img-circle">
          </div>
          <div class="col-centered">
            <ul class="list-unstyled">
              <li><img src="">Denver, CO</li>
              <li><img src="">(336) 972 - 5525</li>
              <li><img src=""><a href="claycodedev@gmail.com">E-mail</a></li>
              <li><img src=""><a href="https://www.linkedin.com/in/claytonsmithdeveloper">Linkedin</a></li>
              <li><img src=""><a href="https://github.com/git-clay/">Github</a></li>
            </ul>
          </div>
          <div class="container-fluid">
            <h3>Skills<br>
              <small>Web Development</small>
            </h3>
            <div class="col-xs-6">
              <ul class="list-unstyled">
                <li>HTML5</li>
                <li>Ejs</li>
                <li>CSS3</li>
                <li>Javascript</li>
                <li>jQuery</li>
                <li>Angularjs 2</li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled">
                <li>Node js</li>
                <li>Mongo</li>
                <li>Mongoose</li>
                <li>Express</li>
                <li>Passport</li>
                <li>PHP</li>
                <li>SQL</li>
              </ul>
            </div>
            <h3><small>Other</small></h3>
            <div class="col-xs-6">
              <ul class="list-unstyled">
                <li>
                  <h4>Hardware</h4>
                </li>
                <li>Arduino</li>
                <li>Raspberry Pi</li>
                <li>AutoCad</li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="col-xs-6">
              <ul class="list-unstyled">
                <li>
                  <h4>Fitness</h4>
                </li>
                <li>CPET Metabolic</li>
                <li>BodPod </li>
                <li>MuscleSound</li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </section>
        <!-- RIGHT section is for timeline -->
        <section class="rightBox col-sm-6 container-fluid">
          <div class="row">
            <h3>Experience</h3>
            <h6 class='pull-left'>Present</h6>
          </div>
          <ul class="row list-unstyled">
            <li>
              <h4>General Assembly</h4>
              <ul class="list-unstyled">
                <li>Front end web development</li>
                <li>Back end (MEAN stack)</li>
                <li>UI/UX</li>
              </ul>
            <li>
              <h4>Youfit<br><small>Personal Trainer</small></h4>
              <p><small>Lorem ipsum </small></p>
            </li>
            <h6 class='pull-left'>2016</h6>
            <li>
              <h4>Enterprise<br>
                <small>Management Trainee</small>
              </h4>
              <p><small>
                Lorem ipsum 
                </small>
              </p>
            </li>
            <h6 class='pull-left'>2014</h6>
            <li>
              <h4>Appalachian State University<br><small>Research Assistant</small></h4>
              <p><small>Lorem ipsum </small></p>
            </li>
            <h6 class='pull-left'>2013</h6>
            <li>
              <h4>University of North Carolina at Charlotte <br>
                <small>Research Assistant Volunteer</small>
              </h4>
              <h4>
                <small>
                Writing Center Tutor
                </small>
              </h4>
            </li>
          </ul>
          <div class="row">
            <h3 class="">Education</h3>
          </div>
          <h6 class='pull-left'>2014</h6>
          <h4 class="row ">University of North Carolina at Charlotte</h4>
          <p><small>Bachelor of Science in Exercise Physiology</small></p>
          <h6 class='pull-left'>2010</h6>
        </section>
      </div>
      <div class="row foot">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat odit, labore, reiciendis nisi mollitia excepturi quia dolore nulla omnis commodi amet eos deleniti nobis possimus repellendus vero. Quisquam debitis, sequi.</p>
      </div>
    </section>
  </body>
</html>